#content {
    min-height: 80vh;
    height: max-content;
    position: relative;

    margin-bottom: 5vh;
    padding-bottom: 2.5vh;

    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-color: var(--main-color);
    border-width: 3px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    padding-left: 1vw;
    padding-right: 1vw;
}

#content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: start;
    align-items: flex-start;
    gap: 30px;
}



#content>article {
    padding-top:5vh;
    width: 100%;
}

article>div>p,
article>div>h2,
article>div>h3 {
    display: inline-block;
}

@media screen and (max-width: 1024px) {
    #content {
        margin-right: 5vw;
        margin-left: 15vw;
        max-width: 96vw;
    }

    #content>#markdown {
        max-width: 90%;
    }
}

@media screen and (min-width: 1024px) {
    #content {
        margin-right: 10vw;
        margin-left: 15vw;
        max-width: 70vw;
    }

    #content>#markdown {
        max-width: inherit;
    }
}